/* Base styles */
html body {
  margin: 0;
  font-family: arial, sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: white;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post {
  margin: 4px;
  padding: 4px 16px;
  border-radius: 10px;
  background-color: #eaeaea;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1;
  font-size: large;
}

article {
  width: 60%;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1;
  font-size: 1.2em;
}

article h1 {
  font-size: 3em;
}

article a {
  color: rgb(46, 112, 255);
}

article code {
  background-color: #eaeaea;
  padding: 2px 4px;
  border-radius: 4px;
}

/* multi-line code blocks */
article pre {
  background-color: #eaeaea;
  padding: 2px 4px;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  margin-left: 20px;
  font-size: 20px;
}

header h1:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

/* Navigation Styles */
header nav ul {
  list-style: none;
  display: flex; /* Keep the menu visible on desktop */
  margin-right: 20px;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Style the label as a hamburger icon */
.hamburger-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  top: 10px;
  right: 20px;
  z-index: 2;
}

/* Latest Posts styling */
.post h2 a {
  text-decoration: none;
  color: black;
}

.post h2 a:hover {
  text-decoration: underline;
}

.date {
  color: #686868;
  font-size: 12px;
  margin-top: -10px;
}

/* About */
.about {
  font-size: large;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.subscribe p:first-child {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: -0.5em;
}

.subscribe form {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
  margin-bottom: 20px;
}

.subscribe form input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe form button {
  padding: 10px 20px;
  background-color: #00bd06;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

.subscribe form button:hover {
  background-color: #00ae06;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  header {
    position: relative; /* Needed for absolute positioning of the hamburger icon */
  }

  .container {
    width: 97%;
  }

  article {
    width: 97%;
  }

  .menu-toggle {
    display: none;
  }
  header h1 {
    margin-left: 10px;
  }
  .hamburger-icon {
    display: block;
    margin-right: 10px;
  }

  header nav {
    position: fixed;
    top: 0;
    right: -100%; /* Start off screen */
    height: 100%;
    width: 60%; /* Width of the sidebar */
    background-color: #333;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1;
  }

  header nav ul {
    display: block; /* Always show the menu in the sidebar */
    padding-top: 60px; /* Give some space for the hamburger icon */
  }

  header nav ul li {
    text-align: right;
    padding: 20px 0px 0px 0px;
  }

  /* When the checkbox is checked, slide in the menu */
  #menu-toggle:checked + .hamburger-icon + nav {
    right: 0; /* Bring the sidebar on screen */
  }

  .subscribe form {
    flex-direction: column;
    align-items: stretch;
  }

  .subscribe form input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .subscribe form button {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);
  }
  .post {
    background-color: rgb(32, 35, 37);
    /* color: rgb(232, 230, 227); */
  }
  .post h2 a {
    text-decoration: none;
    color: rgb(232, 230, 227);
  }
  .date {
    color: rgb(166, 159, 147);
  }

  article a {
    color: #749aff;
  }
}
